
nav {
	background-color: #b3b3b3;	
	position: fixed;
	width: 100%;
	top:0;
	opacity: 0.9;


}

nav ul li {
	display: inline-block;	
	padding: 0;
	margin-right: 150px;
	margin-left:150px;
	margin-top: 0;
	color: white;
	list-style: none;
	font-size: 16px;

}

li a:hover {
    background-color: orange;
    color: white;
}

h1, h2, h3 {
 	text-align: center;
 	font-style: "Georgia";
 	color: #696969;
 	}

 a {
 	color: white;
 }

 img {
 	width: 40%;
 	height: auto;
 	display: block;
 	margin: auto;
 }

 img:hover {
   opacity: 0.5;
   filter: alpha(opacity=50); 

    }

   body {
   	color: #696969;
   	margin: center;
   	padding: 70px;
   	font-size: 20px;


   }

   footer {
	color: #696969;
	text-align: center;

}

li {
	  margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 150px;
    margin-left: 80px;
}

.act {
	/*font-size: 20px;*/
	color: grey;
}

 /* .second {
	display: inline-block;
	width: 250px;
	text-align: center;
	text-transform: capitalize;
  background-color: green;
  	border-color: black;
	border-style: dotted;
	font-family: serif;
}*/

.column1 {
	display: inline-block;
	margin: 5px;
}

.move-me {
	position: fixed;
	top: 125px;
	margin-right: 50px;
}