
nav {
	background-color: #b3b3b3;	
}

nav ul li {
	display: inline-block;
	padding: 20px;	margin-right: 100px;
	color: white;
	list-style: none;
}

/*nav ul {
	list-style: none;
}*/

h1 {
 	text-align: center;
 	font-style: "Georgia";
 	color: #696969;
 	}

 a {
 	color: white;
 }

 img {
 	width: 40%;
 	height: auto;
 	display: block;
 	margin: auto;

    }

   p {
   	color: #696969;
   }
