.newspaper {
	column-count: 3
	margin: 20px;
}

h1 {
	background-color: black
	color: white;
	text-align: center;
	
}
nav {
	background-color: black;	
}

nav ul li {
	display: inline-block;
	padding: 20px;	margin-right: 300px;
}

nav ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}
