div {
	background-color: blue;
	text-align: center;
}

.classy {
	color: blue;
}

#first{
	color: blue;
}

#second{
	color: red;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
	text-transform: capitalize;
	color: #045076;
	font-family: serif;
	font-size: 20px;
}

h3{
	color:red;
	background-color: white;
	text-align: center;
}

h1{
	color: blue;
	text-align: center;
	background-color: #c9caca;
}
