td:nth-child(1){
   padding-top:  10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

td:nth-child(2){
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.num1{
    padding-top: 10px;
    font-size: 20px;
}
.num2{
    padding-top: 20px;
    font-size: 20px;
}
.num3{
    padding-top: 20px;
    font-size: 20px;
}
table{
    display: table;
    border-collapse: inherit;
    border-spacing: 4px;
    
}