.my-float {
	float: left;
	background-color: grey;
	border: 1px solid black;
	margin: 100px
	width: 400px
	height: 800px;
	clear: left;

}

nav {
	background-color: #b3b3b3;
	
}

nav ul li {
	display: inline-block;
	padding: 10px;
	margin-right: 50px;

}

nav ul {
	list-style: none;
	margin-right: 100px;
}

a {
	text-decoration: none;
	color: #c403a7;
}

h1, h2 {
	text-align: center;
	color: #c403a7;
}

p {
	text-align: center;
	color: #c403a7;
}
}
	display: inline-block;
	width: 250px;
	margin-left: 500px;
	margin-top: 0px;
	padding: 10px;
