/*.my-float {
	float: left;
	background-color: grey;
	border: 1px solid black;
	margin: 100px
	width: 400px
	height: 800px;
	clear: left;*/

nav {
	background-color: #b3b3b3;	
	position: fixed;
	width: 100%;
  margin-left: -8px;
	top:0;
	opacity: 0.9;
}

nav ul li {
	display: inline-block;	
	padding: 0;
	margin-right: 95px;
  margin-left: 95px;
  margin-top: 0px;
	color: white;
	list-style: none;
	font-size: 16px;
}

li {
	margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 150px;
    margin-left: 80px;
}

li a:hover {
  background-color: #c403a7;
  color: white;
  cursor: pointer;
}

a {
 	color: white;
 }

ul li {
  color:  #c403a7;
}

h1 {
	text-align: center;
	color: #c403a7;
	padding-top: 70px;
}

/*h2,  {
	text-align: center;
	color: #c403a7;
}*/

h3 {
  color: #c403a7;
  text-align: center;
  margin-top: 10px ;
}

p {
	text-align: center;
	color: #c403a7;
}

img {
	width: 300px;
  height: 300px;
  float: left;
  margin-bottom: 40px;
  margin-top: 40px;
  border: 1px solid #c403a7;
}

.decodepress {
  margin-left: 20px;
  
}

/*.decode1 {
  width: 300px
  height: 300px;

}

.decode4 {
  width: 300px
  height: 300px;
  
}
.decode5 {
  width: 300px
  height: 300px;
  vertical-align: top;
  float: right;
}*/

footer {
  color: pink;
  text-align: center;
}
