

img {
	float: left;
	margin-right: 10px;
}

div {
	margin: 0 auto;
	width: 900px;
}

/*nav ul li {
	display: inline-block;
	padding: 10px;
	color: black;
	margin-right: 205px;
}

nav ul {
	list-style: none;
	margin-right: 50px;
	color: black;*/
}

h1, h2 {
	text-align: center;
	color: red;
	background color: hotpink;
}

p {
	text-align: center;
	
}

.first {
	text-align: right;
}