/*.my-float {
	float: left;
	background-color: grey;
	border: 1px solid black;
	margin: 100px
	width: 400px
	height: 800px;
	clear: left;*/

nav {
	background-color: #b3b3b3;	
	position: fixed;
	width: 100%;
	top:0;
	opacity: 0.9;
}

nav ul li {
	display: inline-block;	
	padding: 0;
	margin-right: 0px;
    margin-left: 70px;
    margin-top: 0px;
	color: white;
	list-style: none;
	font-size: 16px;
}

li {
	margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 150px;
    margin-left: 80px;
}

li a:hover {
  background-color: white;
  color: #c403a7;
}

a {
 	color: #c403a7;
 }


h1 {
	text-align: center;
	color: #c403a7;
	padding-top: 70px;
}

h2 {
	text-align: center;
	color: #c403a7;
	padding-top: 0;
}

p {
	text-align: center;
	color: #c403a7;
}

img {
	background: no-repeat center fixed;
    background-size: cover;

}
